.App .container {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;

}

.upperBar {
  height: 100px;
  background-color: #283593;
  width: 100%;
}

.collegeramaLogo {
  background: url(../assets/collegerama_logo.png) center no-repeat;
  height: 100px;
  width: 350px;
  border:0;
  

}



