.App .container {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #222;

}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;


}

.phoneMessage {
  background-color: #222;
}



