.Lecture {
    height: 100%;
    width: 100%;
}

.fullscreen {
    background-color: #222 !important;

}

.fullscreenButton {
    outline: none !important;

}


.upperBox {
    display: none;
}

@media screen 
and (orientation:landscape) 
and (max-device-width: 1000px) {
  
    .innerVideoBox {
        background-color: transparent !important;
        margin: 0px !important;
        position: fixed;
        top: 0
    }

    .slideScreen {
        background-color: transparent !important;
        margin: 0px !important;
        position: fixed;
        top: 0;
        right: 0;
    }
 }

.innerVideoBox {
    margin: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    display: inline-block;
}


.videoScreen {
    bottom: 0;
    left: 0;
    margin:0;

}



.fullscreenButton {
    background: url(../assets/open_fullscreen_inactive.svg) no-repeat;
    background-color: transparent;
    background-size: contain;

    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    height: 50px;
    width: 50px;
    margin: 20px;

    position: fixed;
    top: 0;
    right: 0;
}

.fullscreenButton:hover {
    background: url(../assets/open_fullscreen_active.svg) no-repeat;
}

.fullscreen-enabled .fullscreenButton {
    background: url(../assets/close_fullscreen_inactive.svg) no-repeat;
}

.fullscreen-enabled .fullscreenButton:hover {
    background: url(../assets/close_fullscreen_active.svg) no-repeat;
}

.SlideBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}