.Play {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  margin-top: 100px;

  
}

@media screen 
and (orientation:landscape) 
and (max-device-width: 1000px) {
  
    .Play {
        margin-top: 0px !important;
    }
 }

