.upperBar {
    height: 100px;
    background-color: #283593;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1; 
    left: 0;
    top: 0;
  }
  
  .collegeramaLogo {
    background: url(../assets/collegerama_logo.png) center no-repeat;
    height: 100px;
    width: 350px;
    border:0;
    
  
  }
  
  